{% extends 'base2.html' %}

{% load crispy_forms_tags %}

{% block content %}
<style>
    body{
        background-image: url("https://static.vecteezy.com/system/resources/thumbnails/006/991/377/small_2x/hospital-interior-blur-background-photo.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;  
        background-size: cover;
        background-color: transparent;
      }
      .button {
        background-color: #53CEC6;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      }
      .button:hover {
        background-color:#29384C;
        color: black;
        box-shadow: 0 8px 16px 0 white;
        
      }
      .button1:hover {
        background-color:#29384C;
        color: black;
        box-shadow: 0 8px 16px 0 white;
        
      }
      .button1{
        margin-top:-50%;
        background-color: #53CEC6;
        border: none;
        color:white;
        width:13%;
        height:7vh;
        margin-left:85%;
      }
  </style>
  <body>
  <form method="post" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <a href= "{% url 'records' %}">
        <button type="submit" class="button">Call Now</button>
       </a>
  </form>
{% endblock %}